<ion-header [translucent]="true">
  <ion-toolbar class="azul">
    <ion-title>Asistencia App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="assets\images\login.svg"></ion-img>

  <ion-item class="ion-margin-top">
    <ion-input [(ngModel)]="mdl_usuario" label="Usuario" labelPlacement="floating"> 
    </ion-input>
  </ion-item>

  <ion-item class="ion-margin-top">
    <ion-input [(ngModel)]="mdl_contrasena" label="Contraseña" type="password" labelPlacement="floating"> 
    </ion-input>
  </ion-item>

  <ion-button class="ion-margin-top azul" expand="block" (click)="login()"> Ingresar </ion-button>
  <ion-button class="ion-margin-top azul" expand="block" (click)="irCrearUsuario()"> Crear Usuario </ion-button>
  <ion-button class="ion-margin-top azul" expand="block" (click)="restablecer()"> Restablecer Contraseña </ion-button>

</ion-content>
